.wrapper
  .Title
    説得費確認
  .Regular__form
    = form_with url: search_persuations_path, local: true, method: :get, class: "" do |f|

      = f.date_select :dating, {discard_day:true,use_month_numbers:true}, class: ''

      = f.submit "検索", class: "Button--login"
  .Regular__return
    = link_to "戻る","/regulars",class: 'btn btn-secondary'