.wrapper
  .Title
    業務登録
  .Menu
    .Menu__regular.dropdown
      %button.btn.btn-secondary.btn-danger.dropdown-toggle.Menu__regular__btn-regular#dropdownMenuButton{type: "button",data: {toggle: "dropdown"},aria: {haspopup: "true",expanded: "false"}}
        .btn-font-size
          調査費
      .dropdown-menu{aria: {labelledby: "dropdownMenuButton"}}
        %a{class: "dropdown-item", href: "#"}
          登録
        %a{class: "dropdown-item", href: "#"}
          確認

      %button.btn.btn-secondary.btn-warning.dropdown-toggle.Menu__regular__btn-regular#dropdownMenuButton{type: "button",data: {toggle: "dropdown"},aria: {haspopup: "true",expanded: "false"}}
        .btn-font-size
          説得
      .dropdown-menu{aria: {labelledby: "dropdownMenuButton"}}
        %a{class: "dropdown-item", href: "#"}
          登録
        %a{class: "dropdown-item", href: "#"}
          確認

      %button.btn.btn-secondary.btn-success.dropdown-toggle.Menu__regular__btn-regular#dropdownMenuButton{type: "button",data: {toggle: "dropdown"},aria: {haspopup: "true",expanded: "false"}}
        .btn-font-size
          交通費
      .dropdown-menu{aria: {labelledby: "dropdownMenuButton"}}
        %a{class: "dropdown-item", href: "#"}
          登録
        %a{class: "dropdown-item", href: "#"}
          確認

      %button.btn.btn-secondary.btn-info.dropdown-toggle.Menu__regular__btn-regular#dropdownMenuButton{type: "button",data: {toggle: "dropdown"},aria: {haspopup: "true",expanded: "false"}}
        .btn-font-size
          活動費
      .dropdown-menu{aria: {labelledby: "dropdownMenuButton"}}
        %a{class: "dropdown-item", href: "#"}
          登録
        %a{class: "dropdown-item", href: "#"}
          確認

    .Menu__persuation
    .Menu__traffic
    .Menu__cost