.Notification {
  .notice {
    background-color: #11a781;
    color: #fff;
    text-align: center;
    font-size: 15px;
  }

  .alert {
    background-color: #f12933;
    color: #fff;
    text-align: center;
    font-size: 15px;
  }
}