.wrapper{
  height: calc(100vh - 30px);
}

.Title{
  text-align: center;
  font-size: 60px;
}

.Menu{

  &__list {

    display: flex;
    justify-content: center;

    &__icon {
      margin:100px 10px;
    }

  }

  &__down {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 50px;

    &__breakdown{
      margin-right: 30px;
    }

    
    &__logout{
      margin-left: 30px;
    }
  }

  &__admin{
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
}

.btn-font-size{
  font-size: 20px;
  display: inline;
}


.Regular{

  &__errors{

    display: flex;
    justify-content: center;

    &__content{
      color:red;
    }
  }

  &__table {
    font-size: 16px;
    margin-top: 50px;

    &__content{
      display: flex;
      justify-content: center;
    }

    &__btn{

      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  }

  &__return{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &__form{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;

    &__content{
      margin-top: 40px;
    }
  }

  &__show{
    margin-top: 30px;
    display: flex;
    justify-content: center;

    &__table{
      overflow: scroll; 
      height: 450px;
      
    }
  }



}

.table_style{
  padding: 5px 15px;
  text-align: center;
}

.check_box{
  font-size: 16px;
}


.Period{

  margin-left: 150px;
  text-decoration: underline;
  font-size: 25px;

}

.Periodcenter{

  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 25px;
}

.Breakdown-wrapper{
  height: 500px;
}

.Breakdown{

  display: flex;
  margin-left: 150px;



  &__show{

    margin-top: 40px;

  }

  &__amount{

    margin-top: 85px;
    margin-left: 50px;
  }
}

.Breakdownbottom{

  margin: 50px 0 0 150px;
  display: flex;

  &__amount{
    margin: 40px 0 0 150px;
  }

  &__btn{
    margin-top: 20px;
    margin-left: 150px;
  }
}

.font_big{
  font-size: 23px;
}

.btn_big {
  padding: 14px 24px;
  border: 0 none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 23px;
}

.font_middle{
  font-size: 19px;
}

.Undercontents{

  display: flex;
  justify-content: space-between;

  &__settlement{
    margin-right: 100px;
  }
}

.table_settlement{

  height: 70px;
  width: 80px;
}

.table_closing{
  height: 40px;
}

.hanko{

  display: inline-block;
  width: 50px;
  height: 50px;
  text-align:center;
  font-weight: bold;
  font-size: 15px;
  line-height: 42px;
  border-radius: 50%;
  border: solid 4px red;
  color: red;

}

.hanko_closing{

  display: inline-block;
  width: 50px;
  height: 50px;
  text-align:center;
  font-weight: bold;
  font-size: 13px;
  line-height: 42px;
  border-radius: 30%;
  border: solid 4px red;
  color: red;
}

.Green_font{
  color: green;
}

.Red_font{
  color: red;
}

footer{
  text-align: center;
  height: 30px;
  background-color: lightgray;
  font-size: 13px;
  color:gray;
  padding-top: 5px;
}